

<%# hidden dropdown element %>
<div class="fixed-top" data-controller="toggle" >
  <%# mobile navbar %>
  <nav class="navbar fixed-top navbar-dark bg-dark" id="hamburger">
    <div class="container-fluid">
    <a class="navbar-" href="/#home"> 
      <%= image_tag "logo", alt: "Liam Hayden site logo", style: "width:70px" %> 
    </a>
      <button class="navbar-toggler" type="button" data-action="click->toggle#menu">
        <i class="fa-solid fa-bars fs-2 m-2" data-toggle-target="hamburger"></i>
        <i id="hidden" class="fa-solid fa-x fs-2 m-2" data-toggle-target="close"></i>
      </button>
    </div>
  </nav>
  <div id="hidden" data-toggle-target="menu">
    <div class="navbar-dark bg-dark pt-5">
      <div class="shadow-3 p-4">
        <div class="nav flex-column align-items-center">
          <div class="">
            <li class="nav-item py-3">
              <%= link_to "Home", "/#home", class: "text-decoration-none li" %>
            </li>
            <li class="nav-item py-3">
              <%= link_to "About", "/#about", class: "text-decoration-none li" %>
            </li>
            <li class="nav-item py-3">
              <%= link_to "Projects", "/#projects", class: "text-decoration-none li" %>
            </li>
            <li class="nav-item py-3">
              <%= link_to "Contact", "/#contact", class: "text-decoration-none li" %>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# desktop navbar %>
<nav class="navbar fixed-top navbar-dark bg-dark" id="nav-bar">
  <div class="container-fluid">
    <a class="navbar-" href="/#home"> 
      <%= image_tag "logo", alt: "Liam Hayden site logo", style: "width:70px" %> 
    </a>
    <ul class="nav col-sm justify-content-end">
      <li class="nav-item">
        <%= link_to "Home", "/#home", class: "text-decoration-none px-2 li" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", "/#about", class: "text-decoration-none px-2 li" %>
      </li>
      <li>
        <%= link_to "Projects", "/#projects", class: "text-decoration-none px-2 li" %>
      </li>
      <li>
        <%= link_to "Contact", "/#contact", class: "text-decoration-none px-2 li" %>
      </li>
    </ul>
  </div>
</nav>
