<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirming Your Message, <%= @message.name %></h1>

    <p>This is to confirm that I have received your query. I will respond to <%= @message.email %> shortly.</p>
    <p>Please find a copy of your message below.</p>

    <p>Name: <%= @message.name %><br>
      Email: <%= @message.email %><br>
      Message: <%= @message.description %>
    </p>
  </body>
</html>
